.slider{
    padding: 10px 0;
    position: relative;
    &__picture{
        width: 1180px;
        img{
            border-radius: 10px;
            width: 100%;
        }
    }
    
    &__Sub{
        display: block;
        position: absolute;
        bottom: 7.9%;
        left:0px;
        width: 100%;
        text-align: center;
        z-index: 10;
        span{
            display: inline-block;
            background: #fff;
            width: 30px;
            border-radius: 2px;
            height: 5px;
            margin: 0 4px;
        }
    }
    @media screen and (max-width:1180px) {
        &__picture{
            width: 100%;
        }
    }
    @media screen and (max-width:980px) {
        padding-top: 0px;
    }
    @media screen and  (max-width:767px) {
        &__picture{
            padding-top: 10px;
            width: 100%;
            img{
                border-radius: 10px;
            }
        }
        &__Sub{
            bottom: 12%;
        }
    }
}