.swap{
    padding-bottom: 30px;
    position: relative;
    h2{
        margin-bottom: 20px;
        border-bottom: solid 2px #eb3e32 ;
        a{
            text-transform: uppercase;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            display: inline-block;
            line-height: 40px;
            font-size: 20px;
            padding: 0 20px 0 10px;
            font-weight: bold;
            color: #fff;
            background: #eb3e32;
        }
    }
    ul{
        display: flex;
        position: absolute;
        right: 0;
        top: 2px;
        height: 37px;
        line-height: 36px;
        font-weight: bold;
        margin: 0;
        padding-right: 10px;
        li{
            display: inline-block;
            margin-right: 10px;
            &:last-child{
                margin-right: 0px;
            }
            a{
                color: #323c42;
                &:hover{
                    color:#ffb416;
                }
            }
        }
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
    }
    &__left{
        max-width: 25%;
        padding-left: 10px;
        padding-right: 10px;
        a{
            display: block;
            margin-bottom: 15px;
            img{
                width: 100%;
            }
        }
    }
    &__right{
        max-width: 75%;
    }
    &__right-example{
        display: inline-block;
        width: calc((100% - 52px)/4);
        height: 315px;
        form{
            width: 100%;
        }
    }
    @media screen and (max-width:1180px) {
        ul{
            display: inline;
            li{
                font-size: 14px;
            }
        }
        &__left{
            display: none;
        }
        &__right{
            max-width: 100%;
        }
    }
    @media screen and (max-width:980px) {
        ul{
            display: none;
        }
    }
    @media (max-width:767px) {
        ul{
            display: none;
        }
        &__left{
            order:2;
            max-width: 100%;
            display: flex;
            padding: 0;
            a{
                padding-left: 5px;
                &:nth-child(1){
                    padding-left: 0;
                }
            }
        }
        &__right{
            max-width: 100%;
        }
        &__right-example{
            width: 49%;
            margin: 0;
            padding: 5px 5px 0 5px;
        }
    }
}   
