.slick-list{
    width: 874px !important;
    height: 279px !important;
    display: inline-flex !important;
    transform: translate3d(306px, 0, 0) !important;
    @media screen and (max-width:1180px) {
        width: 98% !important;
    }
    @media (max-width:767px) {
        width: 97% !important;
        transform: translate3d(5px, 0, 0) !important;
    }
}
.a{
    >.slick-list{
        height: 310px !important;
        transform: translate3d(0, 0, 0) !important;
        width: 491px !important;
        @media screen and (max-width:1180px) {
            width: 100% !important;
        }
        @media (max-width:767px) {
            height: 280px !important;
            width: 99% !important;
            transform: translate3d(0px, 0, 0) !important;
        }
    }
}
.slick-track{
    display: flex !important;
    
}
.slick-slider{
    &:hover .next-arrow {
        opacity: 0.8;
        transition: all 1s;
    }
    &:hover .prev-arrow {
        opacity: 0.8;
        transition: all 1s;
    }
}
.next-arrow{  
    right: -34%;
    top: 44%;
}
.prev-arrow{
    left: 34.9%;
    top: 44%;
}
.slide-arrow{
    transition: all 3s;
    opacity: 0;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    border: none;
    @media (max-width:767px) {
        display: none !important;
    }
}